body {
margin: 20px;
background-color: #FFDDAB;
align-items: center;

}
h1 {
color: #945034;
}
form {
margin-top: 20px;
margin-left:20px;
margin-right: 20px;
margin-bottom: 20px;

}
label {
display: block;
margin: 10px 0 5px;
}
input[type="text"], input[type="email"] {
width: 100%;
padding: 8px;
margin-bottom: 10px;
}
input[type="radio"] {
margin-right: 5px;
}
button {
padding: 10px 15px;
margin-right: 10px;
}
.div{
  border-color: black;
  align-items: center;
  align-content: center;
}
